.container {
  width: 100%;
  margin: 0 auto;
  .none {
    display: none;
  }

  .active {
    display: flex;
    animation-name: active;
    animation-timing-function: ease;
    animation-duration: 10s;
    width: 90%;
    margin: 0 auto;
    img {
      border-radius: 10px;
      margin-right: 0.2rem;
    }
    .title2 {
      margin: 0 3rem;
    }
  }
  .hide {
    animation-name: hidden;
    animation-timing-function: ease;
    animation-duration: 10s;
  }

  @keyframes active {
    0% {
      opacity: 0;
    }
    1% {
      opacity: 0;
    }
    10% {
      opacity: 0.2;
    }

    20% {
      opacity: 0.4;
    }
    30% {
      opacity: 0.6;
    }

    40% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }

    60% {
      opacity: 0.8;
    }
    70% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes hidden {
    0% {
      opacity: 1;
    }

    20% {
      opacity: 0.8;
    }

    40% {
      opacity: 0.6;
    }

    60% {
      opacity: 0.4;
    }

    80% {
      opacity: 0.2;
    }

    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 979px) {
  .container {
    .active {
      .title2 {
        margin: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    margin: 0;
    padding: 2rem;
    .active {
      display: block;

      .title2 {
        margin: 0;
      }
    }
  }
}
