@import "utilities/variables";
.card {
  background-color: $white;
  border: 1px solid;
  max-width: 90%;
  display: flex;
  align-items: center;
  margin: 2rem auto;
  margin-bottom: 3rem;
  .img {
    padding: 2rem;
    width: 50%;
    img {
      width: 50%;
    }
  }
  .event {
    padding: 2rem;
    width: 50%;
  }
  .button {
    text-align: right;
  }
}
@media (max-width: 979px) {
  .card {
    display: block;
    .img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .event {
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
}
