@import "utilities/variables";
.main {
  .cover_3d {
    width: 100vw;
    height: 90vh;
    overflow: scroll;

    // background-image: linear-gradient(
    //     to bottom,
    //     rgba(255, 255, 255, 0.6),
    //     rgba(255, 255, 255, 0.6)
    //   ),
    //   url("/assets/index/slide1.jpg");
  }
  .cover {
    display: none;
  }
}
.unScrollPage {
  max-height: 100vh;
  overflow: hidden;
}

@media (max-width: 979px) {
}

@media (max-width: 576px) {
  .main {
    .cover_3d {
      display: none;
    }
    .cover {
      display: block;
      overflow: hidden;
    }
  }
}
